.radio {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
}
.radio__input {
  display: none;
}
.radio__label {
  display: block;
  position: relative;
  padding: 8px 14px;
  line-height: 0.5rem;
  letter-spacing: 1px;
  font-size: 1rem;
  cursor: pointer;
  color: #6e7191;
}
.radio__input:checked + .radio__label {
  color: #14142b;
  font-weight: bold;
}
.radio__input:checked + .radio__label::before {
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 150%;
  left: 45%;
  border-radius: 50%;
  background: #14142b;
}
